VITE_SUPABASE_URL=https:https://wvrdvypapzdihmjvrmut.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2cmR2eXBhcHpkaWhtanZybXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0NjYyOTYsImV4cCI6MjEwNjA0MjI5Nn0.-lVC4fmZpK_VK0QgdX758kTgLlIh1suBK1OweOprFps
